#root {
  width: 70vw;
  margin: 0 auto
}

#relatedItemsComparison {
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}
#relatedItemsComparison p {
  margin: 0;
}
#relatedItemsComparison h3 {
  margin: 0
}

.container {
  /* border: solid black 2px; */
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  overflow: auto;

}
.card {
  /* border: solid black 2px; */
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 300px;
  position: relative;

}

#addToOutfit {
  border: solid black 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 300px;
  display: inline;
}

.relatedCard {

}

.outfitCard {

}
.cardText {
  white-space: nowrap;
  overflow: hidden;
}
.cardThumbs {
width: 200px;
height: 200px;
}

#outfitContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#relatedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #outfitContainer button {
  margin: 0 10px;
} */

.redStrikethrough {
  text-decoration: line-through;
  color: red
}

.hidden {
  visibility: hidden;
}

.outfitCard {
  position: relative;
}

.card button {
  position: absolute;
  text-align: center;
  top: 20px;
  right: 20px;
  background-color: white;
  border-radius: 5px;
  border: solid black 3px;
  outline: none;
  height: 40px;
  width: 45px;
  font-size: 26px
}

.compareTable {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.compareTable th,
.compareTable td {
  text-align: center;
  padding: 10px;
  margin: 30px;
  border: 1px solid black;
}