/* div {
  border: solid black ;
} */

.flex {
  display:flex;
  padding: 10px;
}

.left {
  width: 60%;
  margin: auto;

}

.right {
  width: 40%;
  margin: auto;

}

.div {
  margin: 25px;
}

.imageGallery {
  height: 61vh;
  display: flex;
  border: solid lightgray 2px;
  /* border-radius: 20%; */
}

.gallery {
  position: absolute;
  margin-left: -5%;
  margin-top: 5%;
  text-align: center;

}

.thumbNail {
  margin: 5px;
  max-width:7vh;
  max-height:7vh;
  cursor:pointer
}

.image {
  max-width: 41vw;
  max-height: 600px;
  margin: auto;
  display: block;

}

.productName {
  font-weight: bolder;
}

.originalPrice {
  text-decoration: line-through;
  margin-right: 10px;
}

.salePrice {
  color: red
}

.style {
  font-Weight:bold;
  margin-right: 10px
}

.styleSelector {
  display: flex;
  flex-wrap: wrap;
  width: 28vw;
}

.checkmark {
  font-size: 30px;
  margin-left: 70%;
  height: 0px;
  position: relative;
}

.styleButton-img {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  overflow:hidden;
  cursor: pointer;
  margin: 2px;
}

select {
  width: 12vw;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

.AddCartButton {
  width: 12vw;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

.likeBotton {
  width: 12vw;
  height: 50px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  background-Color: white;
  font-size: 40px;
}

