/* div {
  border: solid black ;
} */

.cart {
  margin-left: 62vw;
  font-size: 30px;
  text-align: center;
  background-color: lightgray;
  border-radius: 20px;
  color: white;
}

.cartMessage {
  margin-left: 62vw;
  margin-top: 1vh;
  font-size: 18px;
  text-align: center;
  background-color: red;
  color: white;
}

.flex {
  display:flex;
  padding: 10px;
}

.left {
  width: 60%;
  margin: auto;
}

.right {
  width: 40%;
}

.div {
  margin: 25px;
}

.imageGallery {
  height: 64vh;
  display: flex;
  text-align: center;
}

.gallery {
  border: solid lightgray 2px;
  position: absolute;
  margin-left: -8vw;
  text-align: center;
}

.thumbNail {
  margin: 5px;
  height: 4vw;
  cursor:pointer
}

.image {
  max-width: 37vw;
  max-height: 64vh;
  margin: auto;
  cursor: zoom-in;
}

.leftButton {
  position: absolute;
  margin-left: 3vw;
  height: 50px;
  margin-top: 27vh;
  cursor:pointer
}

.rightButton {
  position: absolute;
  height: 50px;
  margin-left: 34vw;
  margin-top: 27vh;
  cursor:pointer;
}

.upButton {
  width: 4vw;
  cursor:pointer;
  position: relative;
}

.downButton {
  width: 4vw;
  cursor:pointer;
  position: relative;
}

#modal {
  overflow-y: auto;
}
.expanded {
  display: flex;
  margin: auto;
}

.expandedImage {
  max-width: 70vw;
  max-height: 55vh;
  transform: scale(1.5);
  margin: auto;
  margin-top: 10vh;
  cursor: zoom-in;
}

.expandedGallery {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
}

.expandedThumbNail {
  height: 7vh;
  margin: 5px;
  cursor:pointer;
}

.leftImage {
  position: absolute;
  margin-left: 6vw;
  height: 60px;
  margin-top: 27vh;
  cursor:pointer
}

.rightImage {
  position: absolute;
  height: 60px;
  margin-left: 83vw;
  margin-top: 27vh;
  cursor:pointer;
}


.zoom {
  text-align: center;
}

.zoomedImage {
  margin-top: 500px;
  transform: scale(2.5);
  cursor: zoom-out;
}

.closeButton {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
  font-size: 20px;
  position: relative;
}

.selectedImage{
  background-color: lightgray;
}

.productName {
  font-weight: bolder;
}

.originalPrice {
  text-decoration: line-through;
  margin-right: 10px;
}

.salePrice {
  color: red
}

.style {
  font-Weight:bold;
  margin-right: 10px
}

.styleSelector {
  display: flex;
  flex-wrap: wrap;
  width: 28vw;
  margin-left: 1vw;
}

.checkmark {
  font-size: 20px;
  margin-left: 70%;
  height: 0px;
  position: relative;
}

.styleButton-img {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  overflow:hidden;
  cursor: pointer;
  margin: 0.1vw;
}

select {
  width: 12vw;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

.AddCartButton {
  width: 12vw;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

.likeBotton {
  width: 12vw;
  height: 50px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  background-Color: white;
  font-size: 40px;
}

