#ratingsList {
  overflow: auto;
  max-width: 1000px;
  max-height: 900px;
}

.list {
  overflow: auto;
}

/* #ratingsOverview * {
  border-style: solid;
  border-color: red;
  padding: 5px;
} */


.border {
  border-style: solid;
  border-color: red;
  padding: 5px;
}

.underline {
  text-decoration: underline;
}

.flex-parent {
  display: flex;
}

.flex-child-1 {
  flex: 1 1 0;

}

.flex-child-2 {
  flex: 3 1 0;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.button-center {
  margin: 30px;
  display: block;
  /* border: 3px solid green; */
  padding: 10px;
  flex: 1 1 0;
}

.button {
  background-color: lightgray;
  color: black;
  padding: 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 150px;
}

.center-vertically {
  padding: 30px 0;
  text-align: right;
}

.in-line {
  display: inline-block;
  margin-left: 5px;
}

/*styling for dropdown menu*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.button:hover {
  background-color: darkgrey;
}

.bottom-margin {
  margin-bottom: 50px;
}

.submit-rating-star {
  font-size: 35px;
  margin-right: 20px;
}

.submit-rating-star:hover {
  color: orange;
}

/*end of styling for dropdown menu*/
.star-rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: grey;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
  border-style: solid;
  border-color: red;
}

.back-stars {
  padding: 0;
  display: flex;
  z-index: 0;
  border-style: solid;
  border-color: blue;
}

.front-stars {
  color: goldenrod;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  border-style: solid;
  border-color: purple;
}

.progress-bar-label {
  padding-right: 10px;
  padding-bottom: 5px;
}